:root {
    --app-var-background-color: #fff;
    --app-var-primary-color: #264470;
    --app-var-btn-background: #264470;
    --app-var-btn-background-hover: #355f9c;
    --app-var-btn-hover: #3d3a9c;
    --app-var-star-color: #f1c40f;
    --app-var-hover-product-bg-color: #f5f5f5;
    --app-var-title-products-color: #264470;
    --app-var-text-products-color: #000;
    --app-var-category-icons-color: #067894;
  }

  .page-title-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }
  
  .page-title-text h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--app-var-primary-color);
    text-align: center;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  
  .page-title-text p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--app-var-text-products-color);
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  div button {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 3.2rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    background: var(--app-var-btn-background);
    color: var(--app-var-background-color);
    box-shadow: #000 0 0 0.1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  div button:hover {
    background: var(--app-var-btn-background-hover);
    color: var(--app-var-background-color);
    text-shadow: #000 0.1rem 0.1rem 0.1rem;
    transition: all 0.3s ease;
  


/* ------------------------------ HERO BANNER ------------------------------ */

/* --------------------------------- MAIN --------------------------------- */