@charset "utf-8";
@import url("../resets/reset.css");

:root {
    --app-color-primary: #F0F0F0;
    --app-color-secondary: #182D4C;
    --app-color-tertiary: #4E709D;
    --app-color-quaternary: #fcfaf3;
    --app-color-hover: #b8c7df;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

/* GLOBAL STRUCTURE : HEADER */

header {
    height: 6.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-color-secondary);
    color: var(--color-white);
    box-shadow: var(--app-color-secondary) 0 0 1px 1px;
}

header h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 1.6rem;
}

header nav ul li a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
}

header nav ul li a:last-child {
    margin-right: 1.6rem;
}

header nav ul li a:hover {
    color: var(--app-color-hover);
    text-shadow: 1 1 1px #000;
}

.nav-form, .nav-form input {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 1.6rem;
    height: 3rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    background: #142641;
}

.nav-form input {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-form i {
    margin-right: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}

.nav-form i:hover {
    color: var(--app-color-hover);
    text-shadow: 1 1 1px #000;
}

/* GLOBAL STRUCTURE : MAIN */

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    background-color: var(--app-color-quaternary);
    color: var(--app-color-secondary);
}	

/* GLOBAL STRUCTURE : FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    background-color: var(--app-color-tertiary);
    color: var(--color-white);
}	

footer p {
    font-size: 1.6rem;
    font-weight: 700;
}

footer a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
}

footer i {
    margin-right: 1.6rem;
    border-radius: 50%;
    padding: 0.9rem;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    vertical-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    box-shadow: #000 1px 1px 1px 1px;
}

footer i:hover {
    color: var(--color-black);
    text-shadow: 1 1 1px #000;
    background-color: var(--color-white);
}


/* .fa-facebook-f {
    color: #2a4aff;
}

.fa-facebook-f:hover {
    color: #2a4aff;
    text-shadow: 2 2 2px #000;
    background-color: #6381e4;
}

.fa-twitter {
    color: #00acee;
}

.fa-twitter:hover {
    color: #00acee;
    text-shadow: 2 2 2px #000;
    background-color: #6ecbff;
}

.fa-instagram {
    color: #e4405f;
}

.fa-instagram:hover {
    color: #e4405f;
    text-shadow: 2 2 2px #000;
    background-color: #ff97bb;
}

.fa-github {
    color: #000;
}

.fa-github:hover {
    color: #000;
    text-shadow: 2 2 2px #000;
    background-color: #b8b8b8;
}

footer a i .fa-facebook-f:hover {
    color: var(--app-color-hover);
    text-shadow: 1 1 1px #000;
}

footer i:hover {
    color: var(--app-color-hover);
    text-shadow: 1 1 1px #000;
} */