@charset "utf-8";
@import url("../resets/reset.css");

/* ----------------------------- Color palette ----------------------------- */
/*
    Color palette 
    https://colorhunt.co/palette/f0f0f02135554f709ce5d283

    Light Colors
    #050315 -> Black -> Text
    #F0F0F0 -> Grey -> Background
    #4F709C -> Blue -> Primary
    #E5D283 -> Yellow -> Secondary
    #213555 -> Dark Blue -> Accent

    Realtime Colors (Light)
    https://www.realtimecolors.com/?colors=050315-F0F0F0-4F709C-E5D283-213555

    Dark Colors
    #ebe9fc -> White -> Text
    #0f0f0f -> Black -> Background
    #6385b0 -> Blue -> Primary
    #7a671a -> Yellow -> Secondary
    #abbede -> Light Blue -> Accent

    Realtime Colors (Dark)
    https://www.realtimecolors.com/?colors=eae9fc-0f0f0f-6385b0-7a671a-abbdde
*/

/* ----------------------------- Google Fonts ----------------------------- */

/* 
    Nunito Sans
    https://fonts.google.com/specimen/Nunito+Sans
*/

/* ------------------------- CSS custom properties ------------------------- */

:root {
	--app-color-primary: #F0F0F0;
	--app-color-secondary: #182D4C;
	--app-color-tertiary: #4E709D;
	--app-color-quaternary: #fffefa;
	--app-color-hover: #b8c7df;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--app-var-background-color: #fff;
	--app-var-primary-color: #2f27ce;
	--app-var-bn-hover: #3d3a9c;
}

/* ----------------------- GLOBAL STRUCTURE : HEADER ----------------------- */

.container {
	width: min(100% - 3rem, 108rem);
	margin: 0 auto;
}

.center {
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

.flex-container-header,
.flex-container-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer {
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

/* -------------------------------- HEADER -------------------------------- */

header {
	padding: 1.6rem 3.2rem;
	background-color: var(--app-color-secondary);
	color: var(--color-white);
	overflow: hidden;
}

.logo {
	flex: 1;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.logo:hover {
	color: var(--app-color-hover);
	transition: all 0.3s ease-in-out;
}

.nav-bar {
	flex: 1;
	text-align: left;
	font-weight: 500;
}

.nav-bar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2.4rem;
}

.nav-bar ul li a {
	color: var(--color-white);
	transition: all 0.3s ease-in-out;
}

.nav-bar ul li a:hover {
	color: var(--app-color-hover);
	transition: all 0.3s ease-in-out;
}

.search-bar {
	flex: 1;
	text-align: right;
	margin-left: 2.4rem;
}

.hamburger {
	display: none;
}

.fa-bars {
	font-size: 2.4rem;
	color: var(--color-white);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

/* ------------------------ GLOBAL STRUCTURE : MAIN ------------------------ */

main {
	color: var(--app-light-text-color);
	background-color: var(--app-light-background-color);
	min-height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.6rem 3.2rem;
}

/* .fa-facebook-f {
    color: #2a4aff;
}

.fa-facebook-f:hover {
    color: #2a4aff;
    text-shadow: 2 2 2px #000;
    background-color: #6381e4;
}

.fa-twitter {
    color: #00acee;
}

.fa-twitter:hover {
    color: #00acee;
    text-shadow: 2 2 2px #000;
    background-color: #6ecbff;
}

.fa-instagram {
    color: #e4405f;
}

.fa-instagram:hover {
    color: #e4405f;
    text-shadow: 2 2 2px #000;
    background-color: #ff97bb;
}

.fa-github {
    color: #000;
}

.fa-github:hover {
    color: #000;
    text-shadow: 2 2 2px #000;
    background-color: #b8b8b8;
}

footer a i .fa-facebook-f:hover {
    color: var(--app-color-hover);
    text-shadow: 1 1 1px #000;
}

footer i:hover {
    color: var(--color-black);
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    background-color: var(--app-color-hover);
    transition: all 0.3s ease-in-out;
}


@media (max-width: 800px) {

    .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }    

}

@media (max-width: 800px) {

    .flex-container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

/* ----------------------------- INDEX.html ----------------------------- */


/* --------------------------------- MEDIA --------------------------------- */


@media screen and (max-width: 800px) {
	.nav-bar {
		display: none;
	}

	.hamburger {
		display: block;
	}
}