:root {
    --app-color-white: #fff;
    --app-color-black: #000;
    --app-btn-background: #264470;
    --app-btn-background-hover: #355f9c;
    --app-background-login-icons-hover: #ececec88;
    --app-text-colors-h: #264470;

}

.flex-container-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aside-box,
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60rem;
    width: 40rem;
    box-shadow: #0000001a 0 0.5rem 1rem;
}

.aside-box {
    background: url(../img/login-aside-background.svg) var(--app-color-white) no-repeat center center;
    background-size: contain;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 5rem;
}

.wel-text h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--app-text-colors-h);
}

.sing-up-text h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--app-text-colors-h);
    text-align: center;
}

.sing-up-text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--app-color-black);
    text-align: center;
    margin-bottom: 2rem;
}

.login-box {
    background-color: var(--app-color-white);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 5rem;
}

.title-text h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--app-text-colors-h);
}

.input-group {
    width: 100%;
    height: 5rem;
}

.input-group input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--app-color-black);
    border: 0.1rem solid #e2e2e2;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus {
    border: 0.1rem solid var(--app-color-black);
    transition: all 0.3s ease-in-out;
}

.input-group input::placeholder {
    font-size: 1.5rem;
    font-weight: 400;
}

.input-check {
    width: 100%;
    height: 5rem;
}

.input-group button[type="submit"] {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--app-color-white);
    background-color: var(--app-btn-background);
    border: 0.1rem solid #e2e2e2;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-group button[type="submit"]:hover {
    border: 0.1rem solid var(--app-color-black);
    transition: all 0.3s ease-in-out;
    background-color: var(--app-btn-background-hover);
}

.small-text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--app-color-black);
    margin-bottom: 2rem;
    text-align: center;
    vertical-align: middle;
}

.small-text p a {
    color: var(--app-btn-background);
}

.small-text p a:hover {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--app-btn-background-hover);
    text-decoration: underline;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.social-icons i {
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: var(--app-btn-background);
    border: 0.1rem solid #e2e2e2;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social-icons i:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--app-background-login-icons-hover);
}

.social-icons a i {
    font-size: 2rem;
    font-weight: 400;
}

.social-icons a i.fa-facebook-f:hover {
    color: #5988ec;
}

.social-icons a i.fa-google:hover {
    color: #db4a39;
}

.social-icons a i.fa-linkedin-in:hover {
    color: #00a5f1;
}

.social-icons a i.fa-github:hover {
    color: #333333;
}

.social-icons a i.fa-microsoft:hover {
    color: #00a4ef;
}

/* Media query for mobile */

@media only screen and (max-width: 800px) {
    .flex-container-login {
        flex-direction: column;
    }

    .aside-box {
        max-height: 30vh;
        min-width: 100%;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .login-box {
        max-height: 50vh;
        width: 100%;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .wel-text h2 {
        font-size: 2.4rem;
    }

    .sing-up-text h2 {
        font-size: 2.4rem;
    }

    .sing-up-text p {
        font-size: 1.5rem;
    }

    .title-text h2 {
        font-size: 2.4rem;
    }

    .social-icons {
        width: 100%;
    }
}