main .container {
	max-width: 1024px;
	margin-inline: auto;
	padding: 1rem;
}

.products-grid {
	padding-block: 4rem;
}

.intro-text-products {
	margin-top: 3rem;
}

.after-text-products {
	margin-block: 4rem;
}

.reach-out {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.reach-out .links {
	background-color: var(--app-dark-color-primary);
	color: var(--white);
	font-weight: 500;
	padding: 0.6rem 1.3rem;
	border-radius: 4px;
	font-size: 0.8rem;
	width: max-content;
}