@charset "utf-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	min-height: 100dvh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
	border-style: none;
	outline-style: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
